@import "../../../styles/app";
$golden_opem: #ba9511;

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  //background-color: #FAFAFA;
  font: 12pt "Tahoma";
}

.page {
  width: 210mm;
  min-height: 297mm;
  padding: 20mm;
  //margin: 10mm auto;
  border: 1px #d3d3d3 solid;
  border-radius: 5px;
  //background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-image: url("../../../assets/certificado/format_back.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .cert-content {
    margin-left: 205px;
    .cert-id {
      color: black;
      font-weight: 700;
      text-transform: uppercase;
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      //justify-content: right;
      .id-text {
        color: $golden_opem;
      }
    }
    .cert-details {
      margin-top: 120px;
      h3 {
        color: black;
        font-weight: 700;
        text-transform: uppercase;
      }
      span {
        color: black;
        font-size: 20px;
        font-weight: 400;
      }
    }

    .cert-curso {
      margin-top: 100px;
      span {
        color: black;
        font-size: 15px;
        font-weight: 300;
      }
      h3 {
        color: black;
        font-weight: 800;
        text-transform: uppercase;
        margin-top: 15px;
      }
    }

    .cert-dates {
      margin-top: 100px;
      h5 {
        color: black;
        font-size: 17px;
        font-weight: 800;
      }
    }

    .cert-sign {
      margin-top: 80px;
      color: black;
      .img-sign {
        height: 80px;
        height: 80px;
      }
      h5 {
        font-weight: 600;
        margin: 0;
        &.license {
          font-style: italic;
          color: $golden_opem;
        }
      }
      h6 {
        margin: 0;
        font-size: 14px;
      }
      span {
        font-size: 14px;
        span {
          font-weight: bold;
        }
      }
    }
  }
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
  }
  .page {
    margin: 0;
    border: initial;
    border-radius: initial;
    width: initial;
    min-height: initial;
    box-shadow: initial;
    //background: initial;
    page-break-after: always;
  }
}
